@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --heading-font: 'Poppins', sans-serif;
    --body-font: 'Inter', sans-serif;
}



body {
    background-color: #F5F5F7;
    font-family: -apple-system;
    font-family: var(--body-font);


}



/* Header  */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    gap: 3rem;
    background-color: #FFFFFF;
  
}
#hamburgerIcon{
    z-index: 3;
}

nav ul {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #FAFAFC;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    padding: 40px 20px;
    gap: 1.5rem;
    border: 2px solid black;

    transform: translateX(-100%);
    transition: transform 0.35s ease;
    z-index: 5;
}

nav ul.active {
      transform: translateX(0);
}

.hamburger {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    font-size: 1.4rem;
    z-index: 10;
}

li {
    list-style: none;

}

li a {
    color: black;
    font-weight: 500;
    font-size: 0.8rem;
}

nav .icons {
    display: flex;
    gap: 1.8rem;
}


/* Hero-Section */
.hero-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 95vw;
    overflow: hidden;
    padding: 20px;
}

.hero-card .text {
    padding: 10px;
    display: flex;
    flex-direction: column;
    line-height: 1.7rem;

}

.buttons {
    display: flex;
    gap: 9px;
    justify-content: center;
}

.blue-btn {
    background-color: #0071E3;
    border: none;
    cursor: pointer;
    color:white;
    transition: all 0.5s ease;
}
.blue-btn:hover{
    background-color:black;
    color:white;
}



.white-btn {
    background-color: #F5F5F7;
    border: none;
    cursor: pointer;

}

.hero-image {
    flex: 1;
    overflow: hidden;
}

.hero-image img {
         width: 100vw;
        height: 45vw;
        object-fit: cover;
        display: block;
        object-position: bottom;
}





/* FEATURE SECTION */
.feature-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    gap: 3px
}

.feature-item {
    position: relative;
    width: calc(50% - 5px);
    height: 50%;
    min-width: 100%;
    
}

.feature-item img {

    width: 100%;
    height: 90vh;
    object-fit: cover;
    object-position: center;

}


.feature-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
}

#feature-text2 {
    color: white;
}

#feature-text4 {
    color: white;
}







/* MEDIA QUEERIES */

@media (min-width: 1000px) {
 nav ul {
        position: static;
        flex-direction: row;
        height: auto;
        width: auto;
        padding: 0;
        border: none;
        background-color: transparent;
        transform: none;
        transition: none;
    }
    .hamburger {
        display: none;
    }

}

@media (min-width: 750px) {
    .hero-card {
        min-height: 60vh;
    }

    .hero-image img {
        width: 100vw;
        height: 45vw;
        object-fit: cover;
        display: block;
    }

    .feature-section {
        flex-direction: row;
    }

    .feature-item {
        width: calc(50% - 5px);
        min-width: 0;
        height: 50%;
    }
}












/* UNIVERSAL STYLES */
h1 {
    font-size: 2rem;
    font-weight: 500;
    font-family: var(--heading-font);
}

p {
    font-size: 0.875rem;
    padding-bottom: 8px;
}

button {
    padding: 10px;
    border-radius: 50px;
}

a {
    text-decoration: none;
    color: white;
}

span {
    color: blue;
}
